* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  overflow-x: hidden;
}

body {
  background-color: #fff;
}

a {
  color: #2863ec;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
}

p, ul, ol {
  color: #3b3b3b;
}

input, textarea {
  outline: none;
  box-shadow: none;
}

.navbar-toggler {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.owl-carousel .owl-nav button {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.header {
  background-color: #fff;
}
@media (max-width: 1500px) {
  .header__logo img {
    max-width: 200px;
  }
}
@media (max-width: 1200px) {
  .header__logo img {
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 993px) {
  .header__logo {
    margin-bottom: 0;
  }
  .header__logo img {
    max-width: 100%;
  }
}
.header__nav {
  padding: 2rem 0;
}
@media (max-width: 1500px) {
  .header__nav {
    padding: 1.5rem 0;
  }
}
@media (max-width: 1200px) {
  .header__nav {
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 993px) {
  .header__nav {
    justify-content: space-between;
  }
}
@media (max-width: 576px) {
  .header__nav {
    padding: 1.5rem 0;
  }
}
.header #head-nav {
  justify-content: center;
}
.header #head-nav .nav-item .nav-link {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  padding: 0.5rem 1rem;
  line-height: 24px;
  border: 2px solid transparent;
}
@media (max-width: 993px) {
  .header #head-nav .nav-item .nav-link {
    padding: 0.4rem 0;
  }
}
.header #head-nav .nav-item.active .nav-link, .header #head-nav .nav-item .nav-link:hover {
  color: #2863ec;
}
.header #head-nav .nav-item.header__button {
  display: none;
}
.header #head-nav .nav-item.header__button a {
  width: 100%;
}
@media (max-width: 1500px) {
  .header #head-nav .nav-item.header__button {
    display: block;
  }
}
.header #head-nav .nav-item.header__contact {
  display: none;
}
@media (max-width: 993px) {
  .header #head-nav .nav-item.header__contact {
    display: flex;
  }
}
@media (max-width: 1500px) {
  .header #head-nav {
    padding-left: 0rem;
    padding: 0.75rem 0;
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 993px) {
  .header #head-nav {
    padding: 1.25rem 0;
  }
}
.header__rightbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 1500px) {
  .header__rightbox {
    padding: 0.5rem 0;
  }
}
.header__login {
  background-image: url("../img/icon-login.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 2.25rem;
  display: flex;
}
@media (max-width: 993px) {
  .header__login {
    margin-top: 0.6rem;
  }
}
.header__login a {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  transition-duration: 0.1s;
  line-height: 24px;
}
.header__login a:not(:last-of-type)::after {
  content: "|";
  padding: 0 0.25rem;
}
.header__login a:hover {
  color: #2863ec;
  text-decoration: none;
}

.button-white {
  display: block;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 1rem 2rem 1rem 3.25rem;
  color: #000;
  background-image: url("../img/arrow-blue-right.svg");
  background-repeat: no-repeat;
  background-position: left 20px center;
  transition-duration: 0.3s;
  width: fit-content;
  width: -moz-fit-content;
}
.button-white:hover {
  color: #2863ec;
  text-decoration: none;
  padding: 1rem 3.25rem 1rem 2rem;
  background-position: right 20px center;
}
.button-white img {
  margin-right: 0.5rem;
  display: inline-block;
}

.button-blue {
  display: block;
  border-radius: 5px;
  border: 1px solid #2863ec;
  background-color: #2863ec;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.35px;
  padding: 1rem 4.5rem 1rem 2.5rem;
  color: #fff;
  background-image: url("../img/arrow-grey-right4.svg");
  background-repeat: no-repeat;
  background-position: right 30px center;
  transition-duration: 0.3s;
  width: fit-content;
  width: -moz-fit-content;
}
.button-blue:hover {
  color: #2863ec;
  background-color: #fff;
  background-image: url("../img/arrow-blue-right4.svg");
}

.section {
  padding: 7rem 0;
}
@media (max-width: 768px) {
  .section {
    padding: 4rem 0 5rem;
  }
}
.section__title h2 {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -1px;
  text-align: center;
  display: block;
  width: 100%;
  margin-bottom: 4rem;
}
@media (max-width: 768px) {
  .section__title h2 {
    margin-bottom: 2.5rem;
  }
}
.section__dark .section__title h2 {
  color: #fff;
  text-align: left;
  font-size: 34px;
}
@media (min-width: 1500px) {
  .section__dark .section__title h2 {
    padding-top: 2rem;
  }
}
.section__grey {
  background-color: #f8f8f8;
}

.footer {
  background-color: #201431;
  padding: 5rem 0;
}
@media (max-width: 768px) {
  .footer {
    padding: 4rem 0;
  }
  .footer__logo {
    margin-bottom: 2rem;
  }
}
@media (max-width: 768px) {
  .footer__address {
    margin-bottom: 2rem;
  }
}
.footer__address p {
  margin-bottom: 0;
  color: #fff;
  font-size: 15px;
  line-height: 32px;
  font-weight: 300;
}
@media (max-width: 768px) {
  .footer__contact {
    margin-bottom: 2rem;
  }
}
.footer__contact a {
  display: block;
  color: #fff;
  font-size: 15px;
  line-height: 32px;
  font-weight: 300;
}
.footer__contact-tel {
  font-size: 28px !important;
  font-weight: 400 !important;
  margin-top: 0.25rem;
}
.footer__socials {
  display: flex;
}
@media (min-width: 1200px) {
  .footer__socials {
    justify-content: flex-end;
    margin-top: -0.5rem;
  }
}
.footer__socials > a {
  border: 1px solid transparent;
  padding: 0.5rem;
  transition-duration: 0.1s;
}
.footer__socials > a:hover {
  border: 1px solid #fff;
}
.footer__socials > a:not(:last-of-type) {
  margin-right: 0.5rem;
}
.footer .copyright {
  margin-top: 6rem;
}
@media (max-width: 768px) {
  .footer .copyright {
    margin-top: 2rem;
  }
}
.footer .copyright p {
  color: #897a9f;
  font-size: 13px;
  margin-bottom: 0;
  font-weight: 400;
}
.footer .copyright p a {
  color: #897a9f;
}

.hpBanner {
  background-image: url("../img/banner-photo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 6rem 0 5rem;
}
@media (max-width: 768px) {
  .hpBanner {
    padding: 3rem 0 3.5rem;
  }
}
.hpBanner__contentbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.hpBanner__title {
  color: #fff;
  font-size: 60px;
  font-weight: 600;
  line-height: 68px;
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .hpBanner__title {
    font-size: 45px;
    line-height: 53px;
  }
}
.hpBanner span {
  color: #fff;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 600;
}
@media (max-width: 768px) {
  .hpBanner span {
    font-size: 17px;
  }
}
.hpBanner__advantages {
  list-style: none;
  margin: 1rem 0 2.5rem;
}
.hpBanner__advantages li {
  padding-left: 2rem;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: left top 7px;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  line-height: 34px;
}
@media (max-width: 768px) {
  .hpBanner__advantages li {
    font-size: 16px;
    line-height: 34px;
  }
}

.breadcrumb {
  padding: 5.5rem 0;
  background-image: url("../img/subpage-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  border-radius: 0;
}
@media (max-width: 768px) {
  .breadcrumb {
    padding: 4rem 0;
    background-position: left 10% center;
  }
}
.breadcrumb h1 {
  font-weight: 600;
  color: #fff;
  font-size: 42px;
  margin-bottom: 0;
}
.breadcrumb ul {
  list-style: none;
  padding: 0;
  margin: 1.25rem 0 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.breadcrumb ul li:not(:last-of-type) {
  padding-right: 2.5rem;
  background-image: url("../img/arrow-white-right3.svg");
  background-position: right 11px center;
  background-repeat: no-repeat;
}
.breadcrumb ul li a {
  font-size: 13px;
  color: #fff;
}
.breadcrumb ul li:last-of-type {
  font-weight: 600;
}

.form__white input:not([type=submit]) {
  border: 1px solid #d9e3f2;
  margin-bottom: 1rem;
  width: 100%;
  color: #3b3b3b;
  font-size: 14px;
  line-height: 28px;
  padding: 0.75rem 1rem;
  border-radius: 3px;
  font-weight: 400;
  transition-duration: 0.1s;
}
.form__white input:not([type=submit])::placeholder {
  color: #3b3b3b;
}
.form__white input:not([type=submit]):focus {
  border: 1px solid #2863ec;
}
.form__grey {
  background-color: #f8f8f8;
  padding: 4rem 9.5rem;
}
.form__grey input:not([type=submit]):not([type=checkbox]), .form__grey textarea {
  border: 1px solid transparent;
  margin-bottom: 1rem;
  width: 100%;
  color: #000;
  font-size: 14px;
  line-height: 28px;
  padding: 0.75rem 1rem;
  border-radius: 3px;
  font-weight: 400;
  transition-duration: 0.1s;
  -webkit-box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.05);
}
.form__grey input:not([type=submit]):not([type=checkbox])::placeholder, .form__grey textarea::placeholder {
  color: #000;
}
.form__grey textarea {
  resize: none;
  min-height: 150px;
}
@media (max-width: 768px) {
  .form__grey {
    padding: 4rem;
  }
}
@media (max-width: 576px) {
  .form__grey {
    padding: 2rem 1rem;
  }
}
.form__grey .row {
  margin: 0 -3.5rem;
}
.form__grey .row .col-12 {
  padding: 0 3.5rem;
}
.form__conditions {
  margin: 2rem 0 3rem;
  display: flex;
  flex-direction: column;
}
@media (max-width: 576px) {
  .form__conditions {
    margin: 1.5rem 0 2.5rem;
  }
}
.form__checkbox {
  display: block;
  position: relative;
  padding-left: 1.75rem;
  margin-bottom: 1rem;
  line-height: 17px;
  cursor: pointer;
  user-select: none;
}
.form__checkbox:last-of-type {
  margin-bottom: 0;
}
.form__checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.form__checkbox input:checked ~ .checkmark:after {
  display: block;
}
.form__checkbox:hover input ~ .checkmark {
  background-color: #fff;
}
.form__checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: #fff;
  border: 1px solid #dbdbdb;
}
.form__checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.form__checkbox input:checked ~ .checkmark {
  background-color: #2863ec;
  border: 1px solid #2863ec;
}

.contactForm {
  margin-top: 6rem;
}
@media (max-width: 993px) {
  .contactForm {
    margin-top: 3rem;
  }
  .contactForm .form {
    padding: 4rem 1.5rem;
  }
}
@media (max-width: 768px) {
  .contactForm .form {
    margin-bottom: 3rem;
  }
}
@media (max-width: 576px) {
  .contactForm .form {
    padding: 2rem 1rem;
  }
}
.contactForm .row {
  margin: 0 -1rem;
}
.contactForm .row .col-12 {
  padding: 0 1rem;
}
.contactForm .form__grey input:not([type=submit]):not([type=checkbox]), .contactForm .form__grey textarea {
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .contactForm .form__grey input:not([type=submit]):not([type=checkbox]), .contactForm .form__grey textarea {
    margin-bottom: 1rem;
  }
}

.banks__item {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .banks__item {
    height: auto;
    margin-bottom: 3rem;
  }
  .banks__item:last-of-type {
    margin-bottom: 0rem;
  }
}
.banks__item img {
  width: auto !important;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  opacity: 0.6;
  max-height: 75px;
  transition-duration: 0.1s;
}
.banks__item img:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  opacity: 1;
}
@media (min-width: 1500px) {
  .banks .owl-carousel {
    padding: 0 3.5rem;
  }
}
.banks .owl-carousel .owl-stage {
  display: flex;
  flex-wrap: wrap;
}

.howItWorks__content {
  display: flex;
  flex-wrap: wrap;
}
.howItWorks__content > div {
  position: relative;
  width: 25%;
  padding: 5rem;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid #d9e3f2;
  border-bottom: 1px solid #d9e3f2;
  border-right: 1px solid #d9e3f2;
  transition-duration: 0.1s;
  /*
  &:hover {
      background-color: lighten($color: $border-color, $amount: 8%);
  }
  */
}
.howItWorks__content > div:first-of-type {
  border-left: 1px solid #d9e3f2;
}
@media (max-width: 1500px) {
  .howItWorks__content > div {
    padding: 1rem;
  }
}
@media (max-width: 993px) {
  .howItWorks__content > div {
    padding: 4rem 1rem;
  }
}
@media (max-width: 768px) {
  .howItWorks__content > div {
    width: 100%;
    border: 1px solid #d9e3f2;
  }
  .howItWorks__content > div:not(:last-of-type) {
    border-bottom: 0;
  }
}
.howItWorks__content > div:not(:last-of-type)::after {
  position: absolute;
  right: -21px;
  transform: translateY(-50%);
  top: 50%;
  height: 40px;
  width: 40px;
  background-color: #fff;
  content: url("../img/arrow-blue-right2.svg");
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
@media (max-width: 768px) {
  .howItWorks__content > div:not(:last-of-type)::after {
    transform: rotate(90deg) translateY(0);
    top: unset;
    bottom: -21px;
    right: 0;
    left: 0;
    margin: auto;
  }
}
.howItWorks__content > div img {
  margin-bottom: 1.5rem;
}
.howItWorks__content > div p {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  text-align: center;
  min-height: 54px;
  margin-bottom: 0;
}
@media (max-width: 1500px) {
  .howItWorks__content > div p {
    min-height: unset;
  }
}

.subpage {
  padding: 7rem 0;
  font-size: 14px;
}
@media (max-width: 768px) {
  .subpage {
    padding: 3rem 0;
  }
}
.subpage a {
  color: #2863ec;
}
.subpage p {
  font-size: 14px;
  color: #7e7e7e;
  line-height: 32px;
  margin-bottom: 1rem;
}
.subpage b, .subpage strong {
  color: #000;
}
.subpage .container > *:first-child {
  margin-top: 0 !important;
}
.subpage__section {
  padding-bottom: 2rem;
}
.subpage__section p {
  margin-bottom: 0;
  font-size: 16px;
}
.subpage__section img {
  max-height: 400px;
  display: block;
  margin-left: auto;
}
@media (max-width: 768px) {
  .subpage__section img {
    margin: 3rem 0 0 0;
  }
}
.subpage h2 {
  font-size: 36px;
  line-height: 50px;
  font-weight: 600;
  margin: 4rem 0 3rem;
  letter-spacing: -0.3px;
}
@media (max-width: 768px) {
  .subpage h2 {
    margin: 3rem 0 2rem;
  }
}
.subpage h3 {
  font-size: 26px;
  line-height: 40px;
  font-weight: 600;
  margin: 4rem 0 3rem;
  letter-spacing: -0.3px;
}
@media (max-width: 768px) {
  .subpage h3 {
    margin: 3rem 0 2rem;
  }
}
.subpage h4 {
  font-size: 20px;
  line-height: 36px;
  font-weight: 600;
  margin: 3rem 0 2rem;
  letter-spacing: -0.3px;
}
.subpage .table-responsive {
  margin-bottom: 4rem;
}
.subpage table {
  margin-top: 1.5rem;
  width: 100%;
  border: 1px solid #eeeeee;
  font-size: 14px;
}
.subpage table thead th {
  background-color: #f8f8f8;
  padding: 1.125rem 2rem;
  color: #000;
  border-bottom: 1px solid #eeeeee;
}
.subpage table tbody tr:not(:last-of-type) {
  border-bottom: 1px solid #eeeeee;
}
.subpage table tbody tr td {
  padding: 1.125rem 2rem;
  color: #7e7e7e;
  min-width: 150px;
  white-space: nowrap;
}
.subpage ul, .subpage ol {
  margin-bottom: 1rem;
}
.subpage ul li, .subpage ol li {
  font-size: 14px;
  color: #7e7e7e;
  line-height: 32px;
}
.subpage ul {
  list-style: none;
}
.subpage ul li {
  background-image: url("../img/icon-tick.png");
  background-position: top 6px left;
  background-repeat: no-repeat;
  padding-left: 2rem;
}
.subpage ol {
  margin-left: 1rem;
}
.subpage ol li::marker {
  font-weight: bold;
  color: #000;
}

.login {
  border: 1px solid #d9e3f2;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 1500px) {
  .login {
    margin: 0 6rem;
  }
}
.login__form {
  width: 50%;
  border-right: 1px solid #d9e3f2;
  margin: 0.5rem 0;
  padding: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 993px) {
  .login__form {
    border-right: 0;
    border-bottom: 1px solid #d9e3f2;
    margin: 0 0.5rem;
  }
}
@media (max-width: 576px) {
  .login__form {
    padding: 3.5rem 1rem;
  }
}
.login__newAccount {
  width: 50%;
  text-align: center;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login__newAccount p {
  color: #000;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
@media (max-width: 993px) {
  .login__newAccount {
    padding: 4rem;
  }
}
@media (max-width: 576px) {
  .login__newAccount {
    padding: 4rem 2rem;
  }
}
@media (max-width: 993px) {
  .login__form, .login__newAccount {
    width: 100%;
  }
}
.login a {
  font-size: 14px;
  font-weight: 500;
  display: block;
}

.register__company-content {
  display: none;
  margin-bottom: 3.5rem;
}
@media (max-width: 768px) {
  .register__company-content {
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 576px) {
  .register__company-content {
    margin-bottom: 1rem;
  }
}
.register__company.active > .register__company-content {
  display: block;
}
.register__company .form__checkbox {
  margin-bottom: 2rem;
}

.contact__map {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  opacity: 0.8;
  transition-duration: 0.3s;
}
@media (max-width: 993px) {
  .contact__map {
    margin-bottom: 3rem;
  }
}
.contact__map:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  opacity: 1;
}
.contact__mailtel {
  margin: 2rem 0 2.25rem;
}
.contact__mail {
  display: block;
  font-size: 15px;
  line-height: 36px;
  font-weight: 600;
}
.contact__tel {
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
  color: #000 !important;
  display: block;
}
.contact h2 {
  font-size: 15px;
  color: #000;
  line-height: 26px;
  margin: 0;
  font-weight: 700;
}
.contact p {
  margin-bottom: 0;
}

@media (min-width: 1500px) {
  .container {
    max-width: 1400px;
  }
}

/*# sourceMappingURL=main.css.map */
