.form {
    &__white {
        input:not([type="submit"]) {
            border: 1px solid $border-color;
            margin-bottom: 1rem;
            width: 100%;
            color: $secondary-color;
            font-size: 14px;
            line-height: 28px;
            padding: 0.75rem 1rem;
            border-radius: 3px;
            font-weight: 400;
            transition-duration: 0.1s;
            &::placeholder {
                color: $secondary-color;
            }
            &:focus {
                border: 1px solid $highlight-color;
            }
        }
    }
    &__grey {
        input:not([type="submit"]):not([type="checkbox"]), textarea {
            border: 1px solid transparent;
            margin-bottom: 1rem;
            width: 100%;
            color: $primary-color;
            font-size: 14px;
            line-height: 28px;
            padding: 0.75rem 1rem;
            border-radius: 3px;
            font-weight: 400;
            transition-duration: 0.1s;
            -webkit-box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.05);
            -moz-box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.05);
            box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.05);
            &::placeholder {
                color: $primary-color;
            }
        }
        textarea {
            resize: none;
            min-height: 150px;
        }
        background-color: $background-color-grey;
        padding: 4rem 9.5rem;
        @include media("md") {
            padding: 4rem;
        }
        @include media("sm") {
            padding: 2rem 1rem;
        }
        .row {
            margin: 0 -3.5rem;
            .col-12 {
                padding: 0 3.5rem;
            }
        }
    }
    &__conditions {
        margin: 2rem 0 3rem;
        display: flex;
        flex-direction: column;
        @include media("sm") {
            margin: 1.5rem 0 2.5rem;
        }
    }
    &__checkbox {
        display: block;
        position: relative;
        padding-left: 1.75rem;
        margin-bottom: 1rem;
        line-height: 17px;
        cursor: pointer;
        user-select: none;
        &:last-of-type {
            margin-bottom: 0;
        }
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
            &:checked ~ .checkmark:after {
                display: block;
            } 
        }
        &:hover input ~ .checkmark {
            background-color: $background-color;
        }
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 17px;
            width: 17px;
            background-color: $background-color;
            border: 1px solid $border-color-grey;
            &::after {
                content: "";
                position: absolute;
                display: none;
                left: 5px;
                top: 2px;
                width: 5px;
                height: 10px;
                border: solid $background-color;
                border-width: 0 2px 2px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
              }
        }
        input:checked ~ .checkmark {
            background-color: $highlight-color;
            border: 1px solid $highlight-color;
        }
    }
}
.contactForm {
    margin-top: 6rem;
    @include media("lg") {
        margin-top: 3rem;
        .form {
            padding: 4rem 1.5rem;
        }
    }
    .form {
        @include media("md") {
            margin-bottom: 3rem;
        }
        @include media("sm") {
            padding: 2rem 1rem;
        }
    }
    .row {
        margin: 0 -1rem;
        .col-12 {
            padding: 0 1rem;
        }
    }
    .form__grey input:not([type=submit]):not([type=checkbox]), .form__grey textarea {
        margin-bottom: 2rem;
        @include media("md") {
            margin-bottom: 1rem;
        }
    }
}