.header {
    background-color: $background-color;
    &__logo {
        @include media("xxl") {
            margin-bottom: 1rem;
        }
        @include media("lg") {
            margin-bottom: 0;
        }
    }
    &__nav {
        padding: 2rem 1rem;
        @include media("xxl") {
            flex-wrap: wrap;
            @include flexCenter();
        }
        @include media("lg") {
            justify-content: space-between;
        }
        @include media("sm") {
            padding: 1.5rem 0;
        }
    }
    #head-nav {
        justify-content: center;
        .nav-item {
            .nav-link {
                color: $primary-color;
                font-size: 16px;
                font-weight: 500;
                padding: 0.5rem 1rem;
                line-height: 24px;
                border: 2px solid transparent;
                @include media("lg") {
                    padding: 0.4rem 0;
                }
            }
            &.active .nav-link, .nav-link:hover {
                color: $highlight-color;
            }
            &.header__button {
                display: none;
                a {
                    width: 100%;
                }
                @include media("xxl") {
                    display: block;
                }
            }
            &.header__contact {
                display: none;
                @include media("lg") {
                    display: flex;
                }
            }
        }
        @include media("xxl") {
            padding-left: 0rem;
            padding: 0.75rem 0;
            width: 100%;
            justify-content: center;
        }
        @include media("lg") {
            padding: 1.25rem 0;
        }
    }
    &__rightbox {
        @include flexCenterDir(row); 
        @include media("xxl") {
            padding: 0.5rem 0;
        }
    }
    &__login {
        background-image: url("../img/icon-login.png");
        background-repeat: no-repeat;
        background-position: left center;
        padding-left: 2.25rem;
        display: flex;
        @include media("lg") {
            margin-top: 0.6rem;
        }
        a {
            color: $primary-color;
            font-size: 16px;
            font-weight: 500;
            transition-duration: 0.1s;
            line-height: 24px;
            &:not(:last-of-type)::after {
                content: "|";
                padding: 0 0.25rem;
            }
            &:hover {
                color: $highlight-color;
                text-decoration: none;
            }
        }
        
    }
}