$primary-color: #000;
$secondary-color: #7e7e7e;

$primary-color-darkbg: #fff;
$secondary-color-darkbg: #989fab;

$background-color: #fff;
$background-color-dark: #000;
$background-color-grey: #252525;
$background-color-light: #f5f5f5;

$highlight-color: #e30f20;

$button-radius: 4px;

$breaks: (
    "sm": 576px,
    "md": 768px,
    "lg": 993px,
    "xl": 1200px,
    "xxl": 1500px,
);