$primary-color: #000;
$secondary-color: #3b3b3b;
$tertiary-color: #7e7e7e;

$primary-color-darkbg: #fff;
$secondary-color-darkbg: #897a9f;

$background-color: #fff;
$background-color-dark: #201431;
$background-color-grey: #f8f8f8;

$border-color: #d9e3f2;
$border-color-grey: #dbdbdb;
$border-color-lightgrey: #eeeeee;

$highlight-color: #2863ec;

$button-radius: 5px;

$breaks: (
    "sm": 576px,
    "md": 768px,
    "lg": 993px,
    "xl": 1200px,
    "xxl": 1500px,
);